<div class="container">

  <h1>Vista principal (index.jade)</h1>

  <div id="app"></div>

  <div>Eres la visita numero <%= visitCount %> (de esta instancia del servidor)</div>

  <div>
  <pre>
  $ node ./node_modules/sails/bin/sails -v
  <%= sailsVersion %>
  <%= date %>
  </pre>
  </div>

</container>
