body {
	background-color: black;
	color: #898989;
}

a {
	color: #cacaca;
}

a:hover, a:active, a:focus, a:hover > div {
	color: #fafafa;
	text-decoration: none;
	background-color: #121212;
}

.folder-name {
	padding-left: 10px;
}

.glyphicon-folder-open{
	color: #cacaca;
}

.browser-directory{
	padding: 2px 4px;
}

.browser-file{
	padding: 2px 4px;
}

.browser-current-file{
	background-color:#121212;
}
.image-show{
	display: block;
}

@media (min-width: 1200px) {
  .container {
    width: 1800px;
  }
}
